<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment" class="row">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">방문자 관리 시스템</a>

		<div class="collapse navbar-collapse" >
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
					<a class="nav-link" href="#" th:href="@{/}">홈 <span
						class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
				</li>
			</ul>
			<a class="btn btn-secondary mr-2 my-2 my-sm-0" th:href="@{/signup}"
				sec:authorize="!isAuthenticated()">회원 가입</a> <a
				class="btn btn-secondary my-2 my-sm-0" th:href="@{/signin}"
				sec:authorize="!isAuthenticated()">로그인</a>
			<!-- 로그인이 안된 경우  -->

			<form class="form-inline my-2 my-lg-0" th:action="@{/signout}"
				method="post" sec:authorize="isAuthenticated()">
				<span class="text-white mr-2 mx-2" sec:authentication="name">사용자</span>
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">로그아웃</button>
			</form>
		</div>
	</nav>
</header>
</html>